body{
    background-color: rgb(201, 204, 204);
}

header{
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    
}
nav{
    border: 2px solid rgb(250, 250, 250);
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}
.contain{
    
    display: flex;
    width: 100%;
    height: 400px;
    border: 2px solid rgb(250, 250, 250);
    margin-top: 10px;
    box-sizing: border-box;
    
}
.ab{
 
display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border: 2px solid rgb(249, 249, 249);

}
.ac{
    display: flex;
    width: 59%;
    border: 2px solid rgb(252, 251, 251);
    align-items: center;
    justify-content: center;

}
footer{
    justify-content: center;
    border: 2px solid rgb(249, 248, 248);
    padding: 10px;
    
    text-align: center;
}